<section class="title-breadcrumbs">
    <div class="breadcrumbs container">
        <a [routerLink]="['/home']">Home</a>
        <img src="../../../assets/public/svg/breadcrumbs.svg" alt="">
        <a href="/views/portfolio.html">Terms and Conditions</a>
    </div>
    <div class="page-title">
        <h1>Terms and Conditions</h1>
    </div>
</section>
<!-- meta & breadcrumbs top section end -->

<!-- main terms page  -->
<main>
     <section class="simple-page container">
        <p>
            Dear User, You are on the website
            <a href="https://www.SmartDevCo.com/" target="_blank">https://www.SmartDevCo.com/</a>
            (hereinafter – the <strong>“Website”</strong>), which is
            owned and operated by SmartDevCo.&ZeroWidthSpace;, Egypt corporation, with its
            principal office at 45 Kambez st- Nadi Al Saeed - Dokki - Egypt (hereinafter
            –
            <strong>“SmartDevCo”, “We”, “Us”,
            “Our”</strong>). These Terms of Use should govern relationships between Users and
            SmartDevCo.
            </p>
            <p>Please read these Terms of Use carefully before using the Website. If You do not agree with any part of these Terms of Use, please stop using the Website immediately.</p>
            <ol class="counter">
                <li aria-level="1">
                <h2>SUBJECT MATTER</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                SmartDevCo defines the terms and conditions of these Terms of Use at its
                own discretion, and these Terms of Use itself can be concluded only by
                the acceptance of the other party (hereinafter –
                <strong>«User», “You”, “Your”</strong>) to the as a whole when the latter uses the Website. The User may not
                propose its own terms and conditions of these Terms of Use.
                </li>
                <li aria-level="2">
                These Terms of Use regulate the use of the Website, access to its
                functionality, as well as the services provided by SmartDevCo on this
                Website, which may include (hereinafter –
                <strong>“Services”</strong>):
                <ol class="counter">
                <li aria-level="3">Website as a whole;</li>
                <li aria-level="3">
                introduction to the services which SmartDevCo provides;
                </li>
                <li aria-level="3">SmartDevCo’s insights;</li>
                <li aria-level="3">main areas of activity;</li>
                <li aria-level="3">case study;</li>
                <li aria-level="3">
                section about SmartDevCo, achievements, other information;
                </li>
                <li aria-level="3">team information;</li>
                <li aria-level="3">feedback and contact us functionality;</li>
                <li aria-level="3">
                other content that is/can be added to the Website by SmartDevCo in
                its sole discretion.
                </li>
                </ol>
                </li>
                <li aria-level="2">
                The User may use the Website for any other services available on it, but
                in any case, the User shall not use the Website for any illegal
                purposes, and may not violate any laws of its jurisdiction or laws of
                the state of Egypt. We make no representations
                that this Website will be available in locations outside the United
                States, if the User does so, the User is solely responsible for
                compliance with local laws.
                </li>
                <li aria-level="2">
                These Terms of Use, SmartDevCo Privacy Policy, and SmartDevCo Cookie
                Policy constitute the entire agreement (the
                <strong>«Agreement»</strong>) between You and SmartDevCo
                regarding the subject matter of this Agreement. These Terms of Use must
                be read and interpreted in conjunction with the Policy. You may not use
                the Website without first reviewing the Terms of Use and the Policy. By
                agreeing to the Terms of Use, it is presumed that the User has read and
                agreed to the terms of the Policy.
                </li>
                <li aria-level="2">
                All users who are minors in the jurisdiction in which they reside
                (generally under the age of 18) must have the permission of, and be
                directly supervised by, their parent or guardian to use the Website. If
                You are a minor, You must have Your parent or guardian read and agree to
                these Terms of Use prior to You using the Website.
                </li>
                <li aria-level="2">
                Each party of this Agreement may be referred to individually as
                <strong>“Party”</strong> or collectively as
                <strong>“Parties”</strong>.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>ACCEPTANCE OF THE TERMS</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                This Agreement is considered to be concluded by acceptance of all its
                terms. Acceptance is provided by performing any conclusive actions aimed
                at obtaining the services provided by SmartDevCo on the Website by the
                User, which may include:
                <ol class="counter">
                <li aria-level="3">
                continuing to use and not leaving the Website after reading the
                Terms of Use;
                </li>
                <li aria-level="3">
                transition to any web pages, hyperlinks of the Website;
                </li>
                <li aria-level="3">
                using “Contact us” form or “SmartDevCo live
                chat” widget;
                </li>
                <li aria-level="3">
                requesting demonstration version of the Services;
                </li>
                <li aria-level="3">indicating User’s email for a feedback;</li>
                <li aria-level="3">any other interaction with the Website.</li>
                </ol>
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>INFORMATION AVAILABLE ON THE WEBSITE</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                The Website may contain the following information:
                <ol class="counter">
                <li aria-level="3">general information about SmartDevCo;</li>
                <li aria-level="3">types of services provided by SmartDevCo;</li>
                <li aria-level="3">fields of expertise rendered by SmartDevCo;</li>
                <li aria-level="3">description of the dedicated team;</li>
                <li aria-level="3">
                information about SmartDevCo’s projects, testimonials,
                achievements, certifications
                </li>
                <li aria-level="3">feedback procedure;</li>
                <li aria-level="3">SmartDevCo’s blog;</li>
                <li aria-level="3">hyperlinks to third-party services;</li>
                <li aria-level="3">
                any other information that SmartDevCo may choose to post on the
                Website.
                </li>
                </ol>
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>CHANGES TO THE WEBSITE AND THE TERMS OF USE</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                SmartDevCo reserves the right, temporarily or permanently, to modify,
                suspend or discontinue the Website (or any part thereof or related
                content) without notice, in its sole discretion, at any time and for any
                reason.
                </li>
                <li aria-level="2">
                From time to time, SmartDevCo may, in its sole discretion, for any reason
                and without any liability to Users or any other person, modify,
                supplement or amend these Terms of Use and require User to agree to
                additional terms and conditions (hereinafter – the
                <strong>«Revised Terms»</strong>) in order to continue to
                use the Website.
                </li>
                <li aria-level="2">
                We may restrict access to the Website from time to time due to
                maintenance and updates at Our sole discretion.
                </li>
                <li aria-level="2">
                Access to certain parts of the Website may be restricted by SmartDevCo in
                its sole discretion.
                </li>
                <li aria-level="2">
                In case of change of the terms, in order to access certain sections of
                the Website, use certain functions, web pages, the User must accept the
                Revised Terms.
                </li>
                <li aria-level="2">
                The User agrees that he is responsible for tracking changes on Our
                Website. We do our best to publish any new information about changes in
                the Terms of Use of the Website, but the User must independently check
                the Terms of Use for updates when accessing the Website. In any case,
                the User is obliged to comply with changes to this Agreement from the
                moment they are made and published.
                </li>
                <li aria-level="2">
                We are not liable to the User or any third party for any modification,
                suspension or termination of the Website or its content.
                </li>
                <li aria-level="2">
                We are not liable for interruptions in access to the Website caused by
                failures in the operation of servers, routers, networks, etc. of
                third-party data centers or Internet service providers (Providers) of
                the User or a specific Provider selected by the User, or connection
                problems caused by them.
                </li>
                <li aria-level="2">
                We reserve the right, but not the obligation, to:
                <ol class="counter">
                <li aria-level="3">
                monitor the Website for violations of these Terms of Use;
                </li>
                <li aria-level="3">
                take appropriate legal action against anyone who, in our sole
                discretion, violates the law or these Terms of Use, including
                without limitation, reporting such User to law enforcement
                authorities;
                </li>
                <li aria-level="3">
                in our sole discretion and without limitation, refuse, restrict
                access to, limit the availability of, or disable (to the extent
                technologically feasible) any of Your Contributions or any portion
                thereof;
                </li>
                <li aria-level="3">
                in our sole discretion and without limitation, notice, or liability,
                to remove from the Website or otherwise disable all files and
                content that are excessive in size or are in any way burdensome to
                our systems;
                </li>
                <li aria-level="3">
                otherwise manage the Website in a manner designed to protect our
                rights and property and to facilitate the proper functioning of the
                Website.
                </li>
                </ol>
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>SUSPENSION OF ACCESS TO THE WEBSITE</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                SmartDevCo has the right at any time, at its sole discretion, to suspend
                the User's access to the Website at its own initiative, without penalty
                or liability to the User or any third party, as well as in case of
                violation of the Terms of Use by the User or any other actions that may
                lead to violation of the Terms of Use.
                </li>
                <li aria-level="2">
                If User violates these Terms of Use, this action is in addition to, and
                not in substitution for, any other right or remedy that may be available
                to Us. The following provisions shall continue in effect after the
                suspension of these Terms of Use for any reason: Intellectual Property,
                Confidential Information, Non-Solicitation, Limitation of Liability,
                Applicable Law and Dispute Resolution.
                </li>
                <li aria-level="2">
                These Terms of Use shall remain in full force and effect while You use
                the Website. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS AND
                CONDITIONS, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT
                NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE WEBSITE (INCLUDING
                BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO
                REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION,
                WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF ANY
                APPLICABLE LAW OR REGULATION.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>INTELLECTUAL PROPERTY</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                Any literary and artistic works (in particular, but not exclusively, on
                the "Blog" web page), computer programs (in particular, but not
                exclusively, the Website code), databases, other works, other functions,
                functionality (including, but not limited to, all information, text,
                images, video, audio, as well as their design, selection and
                arrangement), materials, processes, procedures, methods, techniques,
                trademarks and any other content, as well as any objects under
                applicable law (hereinafter – «Intellectual Property»)
                are owned by SmartDevCo or licensed to Us. All rights are reserved.
                </li>
                <li aria-level="2">
                Any unauthorized, unlawful use of the Website or its content in
                violation of the Terms of Use, copying of works, including but not
                limited to the Website code, Website design, articles, video content is
                prohibited. Use of videos and articles posted on the Website or
                third-party websites is permitted only with a link to the SmartDevCo
                website or third-party website that lawfully uses such SmartDevCo
                materials.
                </li>
                <li aria-level="2">
                The User acknowledges, understands and agrees that SmartDevCo retains all
                rights to the Intellectual Property, except for the personal data
                subject to the Policy.
                </li>
                <li aria-level="2">
                Unauthorized use of any trademarks, including reproduction, imitation,
                misleading use, is prohibited.
                </li>
                <li aria-level="2">
                Any unfair use of the Website content and not for the purposes
                consistent with the law is prohibited and will be treated as an
                intentional violation of this Terms of Use which leads to
                responsibility.
                </li>
                <li aria-level="2">
                If the User violates the requirements of this section, he may be
                immediately denied access to the Website and will be liable in
                accordance with the law.
                </li>
                <li aria-level="2">
                The User is not granted any right to use SmartDevCo's Intellectual
                Property except as specifically provided elsewhere in the Terms of Use
                and in separate agreements with SmartDevCo. If User wishes to use any
                material for any purpose other than as stipulated in these Terms of Use,
                such use may only be made with SmartDevCo's permission upon User's
                request to
                <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a> or through
                the “Contact us” form.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>PRIVACY AND COOKIE POLICY</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                SmartDevCo does not collect personal data of Users, except as
                specifically stated in the Privacy Policy. SmartDevCo reserves the right
                to make changes to the Privacy Policy, so You can find the current
                version here.
                </li>
                <li aria-level="2">
                SmartDevCo and our service providers use various technologies to collect
                information when you interact with SmartDevCo, including cookies and
                other similar technologies which enables Us to collect information about
                your device identifiers, IP address, web browsers used to visit the
                Website, pages or features viewed, access Website times, and links
                clicked. Where required, you will be asked for consent to our use of
                cookies. To view more information on what cookies We use and how We use
                them, please review the Cooky Policy.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>CONFIDENTIAL INFORMATION</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                Some information included on the Website is considered confidential.
                </li>
                <li aria-level="2">
                The term «SmartDevCo Confidential Information» also refers to
                all information that should reasonably be treated as confidential,
                including, but not limited to, third party contact information,
                information about SmartDevCo's representatives, employees, information
                about security procedures and systems used by SmartDevCo, information
                about SmartDevCo's counterparties, business plans, patents, technologies,
                customers list and other information which should be reasonably
                interpreted confidential or will be marked as such.
                </li>
                <li aria-level="2">
                You acknowledge and agree that any questions, comments, suggestions,
                ideas, feedback, or other information regarding the Website (hereinafter
                –
                <strong>“Submissions”</strong>) provided by You to Us are
                non-confidential and shall become our sole property. We shall own
                exclusive rights, including all intellectual property rights, and shall
                be entitled to the unrestricted use and dissemination of these
                Submissions for any lawful purpose, commercial or otherwise, without
                acknowledgment or compensation to You.
                </li>
                <li aria-level="2">
                You hereby waive all moral rights to any such Submissions, and You
                hereby warrant that any such Submissions are original with You or that
                You have the right to submit such Submissions. You agree there shall be
                no recourse against us for any alleged or actual infringement or
                misappropriation of any proprietary right in Your Submissions.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>NON-SOLICITATION</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                Considering the significant resources invested by SmartDevCo to find and
                retain employee/partner/professional/subcontractor/clients, as well as
                the Confidential Information value, Users agree that they shall not,
                directly or indirectly, either alone or in concert with others (whether
                as an employee, agent, consultant, joint venturer, partner, lender,
                investor, owner, shareholder, director, or officer) without the consent
                of SmartDevCo:
                <ol class="counter">
                <li aria-level="3">
                solicit or entice any
                employee/contractor/partner/subcontractor/clients of SmartDevCo to
                leave SmartDevCo.
                </li>
                </ol>
                </li>
                <li aria-level="2">
                Users are forbidden to use any information about SmartDevCo’s
                employees, contractors, partners etc. with the purposes other than
                acquaintance with the services of SmartDevCo and prospective cooperation
                with SmartDevCo.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>THIRD PARTY SERVICES</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                SmartDevCo may include links to third party websites on the Website.
                </li>
                <li aria-level="2">
                Such links are provided for the convenience of the User. SmartDevCo is
                not responsible for the content of third party websites, collection of
                information about users, other actions of third parties. Before using
                third party services, the User should read the terms of use of third
                party websites and services, as well as their privacy policy.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>LIMITATION OF LIABILITY</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                SmartDevCo strives to make the use of the Website convenient.
                Nevertheless, SmartDevCo is not liable for any unlawful use of the
                Website by Users. The information posted on the Website on an «as
                is» basis may contain technical or typographical inaccuracies or
                mistakes, therefore SmartDevCo does not guarantee the accuracy of the
                posted data, makes no representations or guarantees with regarding such
                information, and Users should not make any business decisions based on
                the information posted on the Website.
                </li>
                <li aria-level="2">
                Use of any part of the Website is at Your own risk. We cannot and do not
                accept any liability for any activity that the User may carry out using
                the Website.
                </li>
                <li aria-level="2">
                The Website may not be available in all languages or in all countries
                and We make no representation that the functionality of the Website will
                be appropriate, accurate or available for use in any particular
                location. Any information posted on the Website is current only as of
                the date of its publication and may not be correct at the time of
                further use of the Website.
                </li>
                <li aria-level="2">
                THE SERVICES MAY NOT BE UNINTERRUPTED OR SECURE. THE USER UNDERSTANDS
                THAT THE RISKS TO SECURITY, PRIVACY AND CONFIDENTIALITY CANNOT BE
                COMPLETELY REMOVED. THEREFORE, THE USER GUARANTEES NOT TO FILE CLAIMS IN
                CONNECTION WITH CIRCUMSTANCES BEYOND SmartDevCo'S CONTROL.
                </li>
                <li aria-level="2">
                SmartDevCo IS NOT LIABLE FOR VERIFYING THE IDENTITY OF USERS.
                </li>
                <li aria-level="2">
                SmartDevCo IS NOT LIABLE FOR ANY USER INFORMATION UPLOADED TO THE WEBSITE
                (IN THE CONTACT FORM, OTHER METHODS). SmartDevCo ALSO DOES NOT GUARANTEE
                THE ACCURACY, APPLICABILITY OR RESPONSE OF SmartDevCo TO THE USER'S
                REQUESTS.
                </li>
                <li aria-level="2">
                SmartDevCo IS NOT LIABLE FOR THE USE OF THIRD PARTY SERVICES.
                </li>
                <li aria-level="2">
                ALSO SmartDevCo DOES NOT GUARANTEE THAT:
                <ol class="counter">
                <li aria-level="3">
                THE SERVICES WILL BE COMPATIBLE WITH YOUR COMPUTER AND RELATED
                HARDWARE AND SOFTWARE;
                </li>
                <li aria-level="3">
                THE SERVICES WILL BE AVAILABLE OR FUNCTION WITHOUT INTERRUPTION, OR
                WILL BE ERROR-FREE, OR ANY ERRORS WILL BE CORRECTED;
                </li>
                <li aria-level="3">
                INFORMATION AVAILABLE ON OR THROUGH THE SERVICES WILL BE ACCURATE,
                COMPLETE, CONSISTENT OR TIMELY;
                </li>
                <li aria-level="3">
                THE INFORMATION ON THE WEBSITE WILL NOT VIOLATE THE RIGHTS OF THIRD
                PARTIES;
                </li>
                <li aria-level="3">
                ANY USER INFORMATION (FOR EXAMPLE, EMAIL INFORMATION AND REQUEST
                THROUGH CONTACT FORM) WILL BE STORED BY SmartDevCo.
                </li>
                </ol>
                </li>
                <li aria-level="2">
                The User agrees to use the SmartDevCo Website with all reasonable
                security precautions. We shall have no liability to You for any loss or
                corruption of any such data, and You hereby waive any right of action
                against us arising from any such loss or corruption of such data.
                </li>
                <li aria-level="2">
                The User understands that any site may be subject to virus attacks,
                information distortion, and other cases beyond SmartDevCo's control.
                </li>
                <li aria-level="2">
                The User voluntarily waives any claims against SmartDevCo, as well as the
                filing of claims regarding the use of the Website. The User will not
                claim any compensation for any damages in relation to the use of the
                Website.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>PROHIBITED ACTIVITIES</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                You may not access or use the Website for any purpose other than that
                for which we make the Website available. The Website may not be used in
                connection with any commercial endeavors except those that are
                specifically endorsed or approved by us.
                </li>
                <li aria-level="2">
                As a user of the Website, You agree not to:
                <ol class="counter">
                <li aria-level="3">
                systematically retrieve data or other content from the Website to
                create or compile, directly or indirectly, a collection,
                compilation, database, or directory without written permission from
                us.
                </li>
                <li aria-level="3">
                make any unauthorized use of the Website, including collecting email
                addresses of users by electronic or other means for the purpose of
                sending unsolicited email, or creating user accounts by automated
                means or under false pretenses.
                </li>
                <li aria-level="3">
                circumvent, disable, or otherwise interfere with security-related
                features of the Website, including features that prevent or restrict
                the use or copying of any Content or enforce limitations on the use
                of the Website and/or the Content contained therein.
                </li>
                <li aria-level="3">
                engage in unauthorized framing of or linking to the Website.
                </li>
                <li aria-level="3">
                engage in any automated use of the system, such as using any data
                mining, robots, or similar data gathering and extraction tools.
                </li>
                <li aria-level="3">
                interfere with, disrupt, or create an undue burden on the Website or
                the networks or services connected to the Website.
                </li>
                <li aria-level="3">
                use the Website as part of any effort to compete with us or
                otherwise use the Website and/or the Content for any
                revenue-generating endeavor or commercial enterprise.
                </li>
                <li aria-level="3">
                decipher, decompile, disassemble, or reverse engineer any of the
                software comprising or in any way making up a part of the Website.
                </li>
                <li aria-level="3">
                attempt to bypass any measures of the Website designed to prevent or
                restrict access to the Website, or any portion of the Website.
                </li>
                <li aria-level="3">
                harass, annoy, intimidate, or threaten any of our employees or
                agents engaged in providing any portion of the Website to You.
                </li>
                <li aria-level="3">
                delete the copyright or other proprietary rights notice from any
                Content.
                </li>
                <li aria-level="3">
                copy or adapt the Website’s software, including but not
                limited to Flash, PHP, HTML, JavaScript, or other code.
                </li>
                <li aria-level="3">
                upload or transmit (or attempt to upload or to transmit) viruses,
                Trojan horses, or other material, including excessive use of capital
                letters and spamming (continuous posting of repetitive text), that
                interferes with any party’s uninterrupted use and enjoyment of
                the Website or modifies, impairs, disrupts, alters, or interferes
                with the use, features, functions, operation, or maintenance of the
                Website.
                </li>
                <li aria-level="3">
                upload or transmit (or attempt to upload or to transmit) any
                material that acts as a passive or active information collection or
                transmission mechanism, including without limitation, clear graphics
                interchange formats (“gifs”), 1×1 pixels, web
                bugs, cookies, or other similar devices (sometimes referred to as
                “spyware” or “passive collection mechanisms”
                or “pcms”).
                </li>
                <li aria-level="3">
                except as may be the result of standard search engine or Internet
                browser usage, use, launch, develop, or distribute any automated
                system, including without limitation, any spider, robot, cheat
                utility, scraper, or offline reader that accesses the Website, or
                using or launching any unauthorized script or other software.
                </li>
                <li aria-level="3">
                disparage, tarnish, or otherwise harm, in our opinion, us and/or the
                Website.
                </li>
                <li aria-level="3">
                use the Website in a manner inconsistent with any applicable laws or
                regulations.
                </li>
                </ol>
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>USER GENERATED CONTRIBUTIONS</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                The Website may invite You to contribute to, or participate in blogs and
                other functionality, and may provide You with the opportunity to create,
                submit, display, transmit, or distribute content and materials to us,
                including but not limited to text, writings, suggestions, or personal
                information or other material (hereinafter –
                <strong>“Contributions”</strong>).
                </li>
                <li aria-level="2">
                Contributions may be viewable through third-party websites. As such, any
                Contributions You transmit may be treated as non-confidential and
                non-proprietary. When You create or make available any Contributions,
                You thereby represent and warrant that:
                <ol class="counter">
                <li aria-level="3">
                the creation, distribution, transmission, public display, or
                performance, and the accessing, downloading, or copying of Your
                Contributions do not and will not infringe the proprietary rights,
                including but not limited to the copyright, patent, trademark, trade
                secret, or moral rights of any third party;
                </li>
                <li aria-level="3">
                You are the creator and owner of or have the necessary licenses,
                rights, consents, releases, and permissions to use and to authorize
                us, the Website, and other users of the Website to use Your
                Contributions in any manner contemplated by the Website and these
                Terms of Use;
                </li>
                <li aria-level="3">
                You have the written consent, release, and/or permission of each and
                every identifiable individual person in Your Contributions to use
                the name or likeness of each and every such identifiable individual
                person to enable inclusion and use of Your Contributions in any
                manner contemplated by the Website and these Terms of Use;
                </li>
                <li aria-level="3">
                Your Contributions are not false, inaccurate, or misleading;
                </li>
                <li aria-level="3">
                Your Contributions are not unsolicited or unauthorized advertising,
                promotional materials, pyramid schemes, chain letters, spam, mass
                mailings, or other forms of solicitation;
                </li>
                <li aria-level="3">
                Your Contributions are not obscene, lewd, lascivious, filthy,
                violent, harassing, libelous, slanderous, or otherwise objectionable
                (as determined by Us);
                </li>
                <li aria-level="3">
                Your Contributions do not ridicule, mock, disparage, intimidate, or
                abuse anyone;
                </li>
                <li aria-level="3">
                Your Contributions do not advocate the violent overthrow of any
                government or incite, encourage, or threaten physical harm against
                another;
                </li>
                <li aria-level="3">
                Your Contributions do not violate any applicable law, regulation, or
                rule;
                </li>
                <li aria-level="3">
                Your Contributions do not violate the privacy or publicity rights of
                any third party;
                </li>
                <li aria-level="3">
                Your Contributions do not contain any material that solicits
                personal information from anyone under the age of 18 or exploits
                people under the age of 18 in a sexual or violent manner;
                </li>
                <li aria-level="3">
                Your Contributions do not violate any federal or state law
                concerning child pornography, or otherwise intended to protect the
                health or well-being of minors;
                </li>
                <li aria-level="3">
                Your Contributions do not include any offensive comments that are
                connected to race, national origin, gender, sexual preference, or
                physical handicap;
                </li>
                <li aria-level="3">
                Your Contributions do not otherwise violate, or link to material
                that violates, any provision of these Terms of Use, or any
                applicable law or regulation.
                </li>
                </ol>
                </li>
                <li aria-level="2">
                Any use of the Website in violation of the foregoing violates these
                Terms of Use and may result in, among other things, termination or
                suspension of Your rights to use the Website.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>CONTRIBUTION LICENSE</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                By posting Your Contributions to any part of the Website, You
                automatically grant, and You represent and warrant that You have the
                right to grant, to us an unrestricted, unlimited, irrevocable,
                perpetual, non-exclusive, transferable, royalty-free, fully-paid,
                worldwide right, and license to host, use, copy, reproduce, disclose,
                sell, resell, publish, broadcast, retitle, archive, store, cache,
                publicly perform, publicly display, reformat, translate, transmit,
                excerpt (in whole or in part), and distribute such Contributions
                (including, without limitation, Your image and voice) for any purpose,
                commercial, advertising, or otherwise, and to prepare derivative works
                of, or incorporate into other works, such Contributions, and grant and
                authorize sublicenses of the foregoing.
                </li>
                <li aria-level="2">
                This license will apply to any form, media, or technology now known or
                hereafter developed, and includes our use of Your name, company name,
                and franchise name, as applicable, and any of the trademarks, service
                marks, trade names, logos, and personal and commercial images You
                provide. You waive all moral rights in Your Contributions, and You
                warrant that moral rights have not otherwise been asserted in Your
                Contributions.
                </li>
                <li aria-level="2">
                We do not assert any ownership over Your Contributions. You retain full
                ownership of all of Your Contributions and any intellectual property
                rights or other proprietary rights associated with Your Contributions.
                We are not liable for any statements or representations in Your
                Contributions provided by You in any area on the Website.
                </li>
                <li aria-level="2">
                You are solely responsible for Your Contributions to the Website` and
                You expressly agree to exonerate us from any and all responsibility and
                to refrain from any legal action against us regarding Your
                Contributions.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>APPLICABLE LAW AND DISPUTE RESOLUTION</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                This Agreement will be governed by and construed in accordance with the
                laws of the State of Egypt. The language of this Agreement shall be
                deemed to be the result of negotiation among the Parties and their
                respective counsel and shall not be construed strictly for or against
                any Party.
                </li>
                <li aria-level="2">
                Any disputes shall be resolved through negotiations by prior contact of
                the Users to the feedback service by email
                <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a> within 60
                (sixty) calendar days after one of the Parties has notified another on
                the matter of the dispute(s) and initiated negotiations.
                </li>
                <li aria-level="2">
                If such disputes cannot be resolved through negotiations, all disputes
                arising out of or in connection with this Terms of Use, including any
                disputes regarding its existence, validity or termination, shall be
                resolved solely in courts of the State of Egypt.
                </li>
                <li aria-level="2">
                If any provision of these Terms of Use is found by a court or other
                tribunal of competent jurisdiction to be unenforceable, then such
                provision shall be modified, limited only to the minimum extent
                necessary so that these Terms of Use remain in full force and effect.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                Visiting the Website, sending us emails, and completing online forms
                constitute electronic communications. You consent to receive electronic
                communications, and You agree that all agreements, notices, disclosures,
                and other communications we provide to You electronically, via email and
                on the Website, satisfy any legal requirement that such communication be
                in writing.
                </li>
                <li aria-level="2">
                YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS,
                AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND
                RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>OTHER PROVISIONS</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                The titles and section headers used in this Agreement are just for
                convenience and have no bearing on how any of its provisions are
                written.
                </li>
                <li aria-level="2">
                Each party affirms that it has the power and authority to engage into
                this Agreement.
                </li>
                <li aria-level="2">
                You agree to defend, indemnify, and hold us harmless, including our
                subsidiaries, affiliates, and all of our respective officers, agents,
                partners, and employees, from and against any loss, damage, liability,
                claim, or demand, including reasonable attorneys’ fees and
                expenses, made by any third party due to or arising out of:
                <ol class="counter">
                <li aria-level="3">use of the Website;</li>
                <li aria-level="3">breach of these Terms of Use;</li>
                <li aria-level="3">
                any breach of Your representations and warranties set forth in these
                Terms of Use;
                </li>
                <li aria-level="3">
                Your violation of the rights of a third party, including but not
                limited to intellectual property rights.
                </li>
                </ol>
                </li>
                <li aria-level="2">
                Notwithstanding the foregoing, we reserve the right, at Your expense, to
                assume the exclusive defense and control of any matter for which You are
                required to indemnify us, and You agree to cooperate, at Your expense,
                with our defense of such claims. We will use reasonable efforts to
                notify You of any such claim, action, or proceeding which is subject to
                this indemnification upon becoming aware of it.
                </li>
                <li aria-level="2">
                These Terms of Use operate to the fullest extent permissible by law. We
                may assign any or all of our rights and obligations to others at any
                time. We shall not be responsible or liable for any loss, damage, delay,
                or failure to act caused by any cause beyond our reasonable control.
                </li>
                <li aria-level="2">
                There is no joint venture, partnership, employment or agency
                relationship created between You and us as a result of these Terms of
                Use or use of the Website. You agree that these Terms of Use will not be
                construed against us by virtue of having drafted them.
                </li>
                <li aria-level="2">
                You hereby waive any and all defenses You may have based on the
                electronic form of these Terms of Use and the lack of signing by the
                parties hereto to execute these Terms of Use.
                </li>
                </ol>
                </li>
                <li aria-level="1">
                <h2>FEEDBACK</h2>
                <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
                <ol class="counter">
                <li aria-level="2">
                In case of any questions when using the Website or on other issues,
                Users may contact SmartDevCo according to the procedure established on
                the «Contact us» web page, via or by mail
                <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a>.
                </li>
                <li aria-level="2">
                By filling out the application contact form or sending a message to
                <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a>, You confirm that
                You are at least 18 years old and have the legal capability and authority to
                cooperate with SmartDevCo.
                </li>
                </ol>
                </li>
                </ol>
     </section>
</main>