<section class="services-section mb-section container">
    <div class="service-heading">
        <h2>Our Services</h2>
        <div class="divider"><div class="divider1"></div></div>
        <p class="description">Custom, pre-packaged, and hosted applications that support all leading operating systems and cloud platforms. Our technical team collaborates with you to understand your bottlenecks, identifies the right technologies to employ, and delivers solutions on time and within budget.</p>
        <img src="../assets/public/svg/servicesG.svg" alt="">
    </div>
    <div class="all-services">
        <div class="service" data-description="We provide top-notch web application development services using the latest technologies and frameworks.">
            <img src="../assets/public/svg/webapp.svg" alt="">
            <h3>Web Application Development</h3>
        </div>
        <div class="service" data-description="Our business process re-engineering services help you streamline operations and improve efficiency.">
            <img src="../assets/public/svg/buserv.svg" alt="">
            <h3>Business Process Re-Engineering</h3>
        </div>
        <div class="service" data-description="We offer expert business technology consulting to help you leverage the right technologies for your business needs.">
            <img src="../assets/public/svg/btechserv.svg" alt="">
            <h3>Business Technology Consulting</h3>
        </div>
        <div class="service" data-description="Our mobile development team builds robust and user-friendly mobile applications for various platforms.">
            <img src="../assets/public/svg/mobiledev.svg" alt="">
            <h3>Mobile Development</h3>
        </div>
        <div class="service" data-description="Get expert consultation for seamless cloud migration and optimize your cloud infrastructure.">
            <img src="../assets/public/svg/cloudserv.svg" alt="">
            <h3>Cloud Migration <br>Consultation</h3>
        </div>
        <div class="service" data-description="We provide comprehensive cloud solutions tailored to your business needs.">
            <img src="../assets/public/svg/cloudsol.svg" alt="">
            <h3>Cloud <br>Solutions</h3>
        </div>
    </div>
    </section>