<section class="strategy-section mb-section">
    <div class="container">
        <h5><div class="divider"></div> Related to <span id="section-title">Business Analysis</span></h5>
        <h2>Our Strategy Process</h2>
        <p id="section-content">Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformative enterprise-class solution. Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformative enterprise-class solution.</p>
        <div class="strategy-number" id="strategy-number">01</div>
    </div>
    <div class="strategy-navigation">
        <div class="navigations active" data-index="1" data-title="Business Analysis" data-content="SmartDevCo software planning & requirement analysis process sets the foundation for the entire software development process. It ensures that the project team has a clear understanding of what needs to be built, how it should be built, and what the expected outcomes are. Effective requirement analysis and planning reduce the likelihood of scope changes, delays, and misunderstandings, leading to a more successful and efficient development process.">
            <div class="wrap"></div>
            <div class="text">
                <h1>1</h1>
                <h2>Business <br> Analysis</h2>
            </div>
        </div>
        <div class="navigations" data-index="2" data-title="UI / UX Design" data-content="Our professional UI/UX designers can create personalized user experiences for IoT applications to effectively address users’ needs. At our UI/UX design agency, we work hard to deliver easy-to-use, intuitive user interfaces that can assure ultimate user satisfaction and low churn rates. ">
            <div class="wrap"></div>
            <div class="text">
                <h1>2</h1>
                <h2>UI / UX <br> Design</h2>
            </div>
        </div>
        <div class="navigations" data-index="3" data-title="Development Process" data-content="We prototype the structure of the entire app or website, revealing what should be present on the app pages. Once the client approves wireframes, we create a fully functional UI/UX for your application">
            <div class="wrap"></div>
            <div class="text">
                <h1>3</h1>
                <h2>Development <br> Process</h2>
            </div>
        </div>
        <div class="navigations" data-index="4" data-title="Testing Process" data-content="Untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformative enterprise-class solution. Our mission is to help enterprises accelerate adoption of new technologies,  Our mission is to help enterprises accelerate adoption of new technologies,  Our mission is to help enterprises accelerate adoption of new technologies,  accelerate adoption of new technologies,  Our mission is to help enterprises accelerate adoption of new technologies, ">
            <div class="wrap"></div>
            <div class="text">
                <h1>4</h1>
                <h2>Testing <br> Process</h2>
            </div>
        </div>
        <div class="navigations" data-index="5" data-title="Launch Maintenance" data-content="We'll guide you through the essential phases of the product launch process, shed light on software development steps, and outline key roles that are vital in bringing your vision to life. Whether you're a medium-sized corporation looking to optimize your launch strategy or a curious mind seeking insights">
            <div class="wrap"></div>
            <div class="text">
                <h1>5</h1>
                <h2>Launch <br> Maintenance</h2>
            </div>
        </div>
    </div>
</section>