<section class="faq-section mb-section">
    <div class="container">
        <div class="faq-heading">
            <img src="../assets/public/svg/faqIcon.svg" alt="">
            <h2>Frequently Asked Questions</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
        </div>
        <div class="faq-accordion">
            <div class="faq active">
                <div class="question">
                    <h2>What is SmartDevCo?</h2> 
                    <img src="../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>We are a digital transformation consultancy and software development companythat provides cutting edge engineering solutions, helping Fortune companiesand enterprise clients untangle complex issues We are a digital transformation consultancy and software development companythat provides cutting edge engineering solutions, helping Fortune companiesand enterprise clients untangle complex issues</p>
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    <h2>How big is your team?</h2> 
                    <img src="../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>We have more than 20 specialists with diverse experience in different industries and products of various complexity. There are Software development department, Project management office, Quality assurance and Business analytics department, Recruitment & HR, and internal team offering account and legal support.</p>
                </div>
            </div>
            <div class="faq">
                <div class="question">
                    <h2>What are the perks of working with SmartDevCo?</h2> 
                    <img src="../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">

                    <ul>
                        <li><strong>Team</strong>
                            <p>We focus on teamwork, because the key to our company's success is a synergy from every team member’s efforts!</p>
                        </li>
                    
                        <li><strong>Responsibility</strong>
                            <p>We are responsible for every task. This approach allows us to eliminate chaos, makes our processes efficient and gives everyone a clear path to growth together with SmartDevCo.</p>
                            </li>

                            <li><strong >Result-driven</strong>
                                <p>We are deeply engaged in what we do as we love to deliver results with fun and pleasure.</p>
                                </li>

                                <li><strong >Development</strong>
                                   <p> We invest our time in self-education and training, and SmartDevCo helps us to achieve synergies in our common development.</p>
                                </li>
                                
                            <li><strong >Professional second opinion</strong>
                                <p>Audit your software to boost its performance and improve user experience.</p>
                           </li>
                           <li><strong >Valuable market insights</strong>
                            <p>Get the latest tech follow up, including market trends and users’ needs.</p>
                            </li>
                            <li><strong >On-time and -budget delivery</strong>
                                <p>We guarantee a record 10% deviation in time and scope for project delivery.</p>
                            </li>
                            <li><strong >Software support after the release</strong>
                                <p>We provide ongoing maintenance and Quality Assurance for your software.</p>
                            </li>
                      </ul> 
                </div>
            </div>
            <div class="more-q">
                <a class="active" [routerLink]="['/faq']">More Questions <div></div></a>
            </div>
        </div>
    </div>
</section>