    <!-- meta & breadcrumbs top section start  -->
    <section class="title-breadcrumbs">
        <div class="breadcrumbs container">
            <a [routerLink]="['/home']">Home</a>
            <img src="../../../assets/public/svg/breadcrumbs.svg" alt="">
            <a>FAQ</a>
        </div>
        <div class="page-title">
            <h1>FAQ</h1>
        </div>
    </section>
    <!-- meta & breadcrumbs top section end -->

    <!-- portfolio page section  -->
    <section class="faq-page container">
        <div class="filter-btns">
            <button id="AboutUs-FAQ" class="primary-btn About-btn">About Us</button>
            <button id="Services-FAQ" class="secondary-btn Services-btn">Services & Industries</button>
            <button id="Cooperation-FAQ" class="secondary-btn Cooperation-btn">Cooperation Models</button>
            <button id="Delivery-FAQ" class="secondary-btn Delivery-btn">Project Development & Delivery</button>

        </div>
        <div class="faq-accordion">
            <div class="faq active" data-category="AboutUs">
                <div class="question">
                    <h2>What is SmartDevCo?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>We are a digital transformation consultancy and software development companythat provides cutting edge engineering solutions, helping Fortune companiesand enterprise clients untangle complex issues We are a digital transformation consultancy and software development companythat provides cutting edge engineering solutions, helping Fortune companiesand enterprise clients untangle complex issues</p>
                </div>
            </div>
            <div class="faq" data-category="AboutUs">
                <div class="question">
                    <h2>How big is your Services?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>We have more than 20 specialists with diverse experience in different industries and products of various complexity. There are Software development department, Project management office, Quality assurance and Business analytics department, Recruitment & HR, and internal Services offering account and legal support.</p>
                </div>
            </div>
            <div class="faq" data-category="AboutUs">
                <div class="question">
                    <h2>What are the perks of working with SmartDevCo?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <ul>
                        <li><strong>Services</strong>
                            <p>We focus on Serviceswork, because the key to our company's success is a synergy from every Services member’s efforts!</p>
                        </li>
                    
                        <li><strong>Responsibility</strong>
                            <p>We are responsible for every task. This approach allows us to eliminate chaos, makes our processes efficient and gives everyone a clear path to growth together with SmartDevCo.</p>
                            </li>

                            <li><strong>Result-driven</strong>
                                <p>We are deeply engaged in what we do as we love to deliver results with fun and pleasure.</p>
                                </li>

                                <li><strong>Development</strong>
                                   <p> We invest our time in self-education and training, and SmartDevCo helps us to achieve synergies in our common development.</p>
                                </li>
                                
                            <li><strong>Professional second opinion</strong>
                                <p>Audit your software to boost its performance and improve user experience.</p>
                           </li>
                           <li><strong>Valuable market insights</strong>
                            <p>Get the latest tech follow up, including market trends and users’ needs.</p>
                            </li>
                            <li><strong>On-time and -budget delivery</strong>
                                <p>We guarantee a record 10% deviation in time and scope for project delivery.</p>
                            </li>
                            <li><strong>Software support after the release</strong>
                                <p>We provide ongoing maintenance and Quality Assurance for your software.</p>
                            </li>
                      </ul>                 </div>
            </div>
            <div class="faq" data-category="Services">
                <div class="question">
                    <h2>What industries do you operate in?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        To provide the best services in the market we mainly focus our
                        software development outsourcing services on product
                        development for several primary industries:
                        </p>
                        <ul>
                        <li class="headlist">Government</li>
                        <li class="headlist">E-commerce</li>
                        <li class="headlist">Healthcare</li>
                        <li class="headlist">Real Estate</li>
                        <li class="headlist">Fintech</li>
                        <li class="headlist">Food Delivery</li>
                        <li class="headlist">Sports</li>
                        <li class="headlist">Telecommunication</li>
                        </ul>
                        <p>
                        Besides, we have a lot of successful projects in other
                        industries like entertainment, hospitality, media, education
                        and other.
                        </p>                </div>
            </div>
            <div class="faq" data-category="Services">
                <div class="question">
                    <h2>What software development services do you provide?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        We offer the next set of software and design development
                        services separately or within the full project development
                        life cycle:
                        </p>
                        <ul>
                        <li class="headlist">Branding and UI/UX Design</li>
                        <li class="headlist">Web Development</li>
                        <li class="headlist">Mobile App Development</li>
                        <li class="headlist">QA Services</li>
                        <li class="headlist">MVP Strategy Consulting</li>
                        <li class="headlist">AR/VR</li>
                        <li class="headlist">Blockchain</li>
                        <li class="headlist">DevOps</li>
                        <li class="headlist">Project Management</li>
                        <li class="headlist">Product Management</li>
                        </ul>
                                    </div>
            </div>
            <div class="faq" data-category="Services">
                <div class="question">
                    <h2>What technologies do you use in software development?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        Our team includes only highly-professional specialists, that
                        are experienced in the following technologies:
                        </p>
                        <p><strong>For web development:</strong></p>
                        <p>
                        Ruby on Rails<br>
                        PHP<br>
                        Node.js<br>
                        C#<br>
                        Javascript<br>
                        Angular<br>
                        React.js<br>
                        Bootstrap<br>
                        HTML 5, CSS 3<br>
                        Web API Services
                        </p>
                        <p><strong>For mobile development:</strong></p>
                        <p>
                        Swift<br>
                        Kotlin<br>
                        Java<br>
                        Flutter<br>
                        React Native
                        </p>
                        <p>
                        Thus, if you’d like to implement some recent
                        technologies into your project and make it look updated,
                        outsourcing to our specialists experienced in that niche will
                        be the best option.
                        </p>
                                   </div>
            </div>
            <div class="faq" data-category="Cooperation">
                <div class="question">
                    <h2>What cooperation models do you offer?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        We are very flexible on the cooperation models and our clients
                        can choose one or mix them from the following:
                        </p>
                        <p><strong>Part-time</strong></p>
                        <ul>
                        <li aria-level="1">
                        Our specialists are assigned to a few projects at the same
                        time.
                        </li>
                        <li aria-level="1">
                        The team or a single specialist reports directly to your
                        Head of Project and management.
                        </li>
                        <li aria-level="1">
                        Our Head of Project Management Office is responsible for the
                        smooth process and performance.
                        </li>
                        <li aria-level="1">
                        Both Hourly Rate and Fixed pricing models are applicable.
                        </li>
                        </ul>
                        <p><strong>Full-time</strong></p>
                        <ul>
                        <li aria-level="1">
                        Our specialists are assigned only to your project.
                        </li>
                        <li aria-level="1">
                        The team or a single specialist reports directly to your
                        Head of Project and management.
                        </li>
                        <li aria-level="1">
                        Our Head of Project Management Office is responsible for the
                        smooth process and performance.
                        </li>
                        <li aria-level="1">
                        We provide available specialists or hire additional ones for
                        your project if needed.
                        </li>
                        </ul>
                        <p><strong>Time &amp; Material</strong></p>
                        <ul>
                        <li aria-level="1">
                        Quick start due to the already existing team setup.
                        </li>
                        <li aria-level="1">
                        The team is managed by us and supervised by you.
                        </li>
                        <li aria-level="1">
                        Pay only for time spent on the development process.
                        </li>
                        </ul>
                        <p><strong>Team Extension</strong></p>
                        <ul>
                        <li aria-level="1">
                        Provide a list of requirements for a specialist.
                        </li>
                        <li aria-level="1">
                        Our team of recruiters will search and interview the
                        candidates.
                        </li>
                        <li aria-level="1">
                        We assure the onboarding and full administrative support.
                        </li>
                        </ul>   
                                 </div>
            </div>
            <div class="faq" data-category="Cooperation">
                <div class="question">
                    <h2>What are the advantages of outsourcing your project to our team?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <ul class="pb0">
                        <li aria-level="1">
                        <strong>More time to stay focused on the development of your
                        business
                        </strong>
                          <p>
                        Outsourcing your projects to us will grant you enough time to
                        focus on growing your company as we carry out our services in
                        the most efficient way for your business and without the need
                        to involve you too much in this process.
                        </p>
                        </li>
                        </ul>
                      
                        <ul class="pb0">
                        <li aria-level="1">
                        <strong>High Professional Development Team </strong>
                           <p>
                        With our developers' team, you are guaranteed highly
                        experienced IT professionals at your disposal. For your
                        project, we will hire only those engineers who meet your
                        project requirements.
                        </p>
                        </li>
                        </ul>
                     
                        <ul class="pb0">
                        <li aria-level="1">
                        <strong>The product-oriented approach in software
                        development</strong>
                        
                        <p>
                        While providing our software development services, we focus
                        our efforts on your business goals and how our digital
                        solutions will meet them.
                        </p>
                        </li>
                        </ul>
                        <ul class="pb0">
                        <li aria-level="1">
                        <strong>Cost Savvy Solution</strong>
                            <p>
                        In the case that you outsource your project to SmartDevCo, you
                        pay only for software development services we provide, you are
                        not obligated to pay any recruiting or additional costs for
                        team support.
                        </p>
                        </li>
                        </ul>
                    
                        <ul class="pb0">
                        <li aria-level="1">
                        <strong>Control Over Your IT Costs</strong>
                         <p>
                        Outsourcing your IT projects will also reduce your running
                        cost as you have full control over your IT costs. We will set
                        a fixed price for our service so as to help you adequately
                        allocate your budget.
                        </p> 
                        </li>
                        </ul>
                       
                                 </div>
            </div>
            <div class="faq" data-category="Cooperation">
                <div class="question">
                    <h2>Do you provide outstaffing services?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        SmartDvCo can provide a dedicated development team with extensive experience to fill any skill gaps that affect your development projects. We have such high-quality specialists as Full-Stack Engineers, Front-end, Backend and Mobile developers, UI/UX Designers, Project Managers, Business Analysts, QA Engineers, and DevOps specialists. We make sure that our professionals use the latest technologies, are middle and senior professionals with minimum B2 level of English, and are fully dedicated to your project.
                    </p>
                 </div>
            </div>
            <div class="faq" data-category="Cooperation">
                <div class="question">
                    <h2>What are the recruiting costs of setting up a team?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        Once you outsource your software development services to us, you are free of charge for recruiting or HR services while setting up your team not depending on the number of specialists you need to involve in your project. You pay only for services in regards to software development of your projects, that is a fixed monthly fee of your developer’s or development team’s salary
                    </p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>How long does it take to start my product development?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        To start with, we review project requirements from the client, we get them analyzed and then inform you of the estimation results. Once you are fine with the cost and time, the next step would be to create a project report document and a proposal. Our team prepares all the needed documentation with requirements and sends it for the client’s approval. Once everything has been finalized, we would then take the project to the next stage, which is the start of the development process.                    </p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>What does your software development process look like?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        A product development process stands for the multiple stages
                        that a software development team takes to bring the idea of a
                        product into reality by undergoing software product
                        development steps. <br><br>Thus, we rely on the software
                        development life cycle (SDLC). The procedure implies building
                        high-quality software within the shortest possible period, in
                        line with the 7 phases of the software development life cycle.
                        </p>
                        <p>The development life cycle phases involves:</p>
                        <ul>
                        <li aria-level="1">
                        the assessment of the user’s needs,
                        </li>
                        <li aria-level="1">
                        research on customer behavior and marketplace competition,
                        </li>
                        <li aria-level="1">
                        creation and visualization of the roadmap,
                        </li>
                        <li aria-level="1">concept design,</li>
                        <li aria-level="1">code development,</li>
                        <li aria-level="1">creation of a minimum viable product.</li>
                        </ul>
                        <p>
                        With a seamless and well-designed SDLC process, we don’t
                        miss a thing and find the balance and the best possible
                        solutions between different actions while developing software.
                        </p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>What software development methodologies do we use?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        Our professionals use a wide range of SDLC methodologies for
                        creating apps: from the Waterfall Model to the Big Bang Model and Agaile Methdology.
                        We choose one of them based on our expertise and the
                        requirements of your project. Our team also considers the size
                        of the budget, the timing, and your wishes. We create
                        solutions that help you to achieve solid results in your
                        market.
                        </p>
                        <p>
                        We document all the operations required to handle the
                        development of your digital product and measure them according
                        to the following key parameters:
                        </p>
                        <ul>
                        <li aria-level="1">Activity description;</li>
                        <li aria-level="1">Milestone documentation;</li>
                        <li aria-level="1">Project scope statement;</li>
                        <li aria-level="1">Organizational assets.</li>
                        </ul>                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>What control do you have over project development?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        You would retain full control over all stages in the
                        development life cycle of your project. You can monitor the
                        process through regular calls and meetings, track the status
                        and exercise of every task.
                        </p>
                        <p>
                        Within a set of meetings scheduled throughout the whole
                        development cycle, we would inform you of the progress in
                        regard to the project roadmap. We divide our entire work into
                        sprints for ease of tracking and so you can make changes in
                        the scope at any stage.
                        </p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>How do we assure privacy and confidentiality?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        We sign NDAs and Confidentiality Agreements as required by the
                        client. All our employees work for us full-time and are bound
                        by company Confidentiality and Non-Disclosure clauses.
                        </p>
                        <p>
                        Additionally, for sensitive projects, we can sign custom NDAs.
                        </p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>How do we comply with Intellectual Property issues?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>We have developed our own Service Agreement and NDAs and have signed them with all our development teams. The agreements ensure the confidentiality and the full transfer of ownership of the intellectual property from the developer to the company. After you decide to outsource your project to us, we sign up for a software outsourcing agreement that transfers all IP rights to your company.</p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>How do we ensure security and risk management of your product?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        When you outsource your projects to our company, we not only
                        provide software development services but manage all possible
                        compliance and security issues.
                        </p>
                        <p>
                        Our specialists evaluate all types of threats before creating
                        your digital product including confidentiality weak points, IP
                        compliance, third-party integrations, data management, and
                        others. This approach allows us to discover the possible risks
                        on the prospecting stage and create the appropriate policies
                        to prevent them.
                        </p>
                 </div>
            </div>
            <div class="faq" data-category="Delivery">
                <div class="question">
                    <h2>How do you guarantee product quality?</h2> 
                    <img src="../../../assets/public/svg/faqicon2.svg" alt="">
                </div>
                <div class="ans">
                    <p>
                        We evaluate the result after every two weeks, we test our work (we conduct both development and acceptance tests), we present it to you, we ask for the client’s feedback so the clients know they get what they are paying for. Also, we have continuous communication with the client, so that there are no surprises and we move forward in the development only after the client’s approval 
                     </p>
                 </div>
            </div>
        </div>
    </section>
    