   <!-- meta & breadcrumbs top section start  -->
   <section class="title-breadcrumbs">
    <div class="breadcrumbs container">
        <a [routerLink]="['/home']">Home</a>
        <img src="../../../assets/public/svg/breadcrumbs.svg" alt="">
        <a>About Us</a>
    </div>
    <div class="page-title">
        <h1>About Us</h1>
    </div>
</section>
<!-- meta & breadcrumbs top section end -->

<!-- main about section  -->
<main>



 <!-- about section start  -->
 <section class="about-section container mt-section mb-section">
    <div class="about-content">
        <div class="text">
            <h2>Our Vision</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div></div>
            <p>Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformation enterprise-class solution.</p>
            <br>
            <h2>Our Mission</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div></div>
            <p>Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformation enterprise-class solution.
               <br> Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformation enterprise-class solution.</p>
                <a [routerLink]="['/contact-us']" class="primary-btn mt-btn">Contact Us Now</a>
        </div>
        <div class="graphics-visual">
            <img src="../../../assets/public/images/aboutG.png" alt="">
        </div>
    </div>
</section>
<!-- about section end -->


 <!-- Our Team section  -->
 <section class="testimonials-section mb-section ourTeam">
    <div class="container">
        <div class="section-top-part">
            <h2>Meet Our Team</h2>  
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <p>We established SmartDevCo in 2020 and after just a few years, we are now a team of almost one 10 employees, who have been divided into specialised teams. Each of them is responsible for a certain area of activity in projects. Despite the organisational division, we still work together, consulting on many issues, we support and share our experiences with colleagues. Together we feel even stronger.</p>
        </div>
    </div>
    <div class="testimonials-container for-ourTeam">
        <img class="teamG" src="../../../assets/public/svg/Union.svg" alt="">
        <div class="testimonials" id="testimonials">
            <!-- Add 9 testimonial items here -->
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>Ahmed AbdelSattar</h3>
                <div class="position">CO-Founder</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>Fatma Assem</h3>
                <div class="position">Senior UI-UX Designer</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>Aftab dizprime</h3>
                <div class="position">Senior UI Desiner</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>Amr Mohamed</h3>
                <div class="position">Business Analyst</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>Mohamed Ali</h3>
                <div class="position">Flutter Developer</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>Mohmaed mokhtar</h3>
                <div class="position">Full Stack Developer</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <div class="testimonial">
                <img src="../../../assets/public/images/person1.jpg" alt="">
                <h3>santosh khan</h3>
                <div class="position">Full stack Developer</div>
                <hr>
                <div class="social">
                   <button><img src="../../../assets/public/svg/t2.svg" alt=""></button> 
                    <button><img src="../../../assets/public/svg/facebook2.svg" alt=""></button>
                    <button><img src="../../../assets/public/svg/linkedingray2.svg" alt=""></button>
                </div>
                </div>
            <!-- more testimonials here -->
        </div>
    </div>
    <div class="controlers">
        <div class="slider-arrows" >
            <button id="arrowLeft" class="arrow-left"><img src="../../../assets/public/svg/sliderArrow.svg" alt=""></button>
            <button id="arrowRight" class="arrow-right"><img src="../../../assets/public/svg/sliderArrow.svg" alt=""></button>
        </div>
        <div id="dots"></div>
    </div>
</section>
<!-- Our Team section end -->


</main>
<!-- main about section end -->