<section class="title-breadcrumbs">
    <div class="breadcrumbs container">
        <a [routerLink]="['/home']">Home</a>
        <img src="../../../assets/public/svg/breadcrumbs.svg" alt="">
        <a>Privacy Policy</a>
    </div>
    <div class="page-title">
        <h1>Privacy Policy</h1>
    </div>
</section>
<!-- meta & breadcrumbs top section end -->

<!-- main terms page  -->
<main>
     <section class="simple-page container">
        <div class="container">
            <p>
            SmartDevCo., a Egypt corporation, with its principal office at 45 Kambez st- Nadi Al Saeed - Dokki - Egypt (hereinafter –
            <strong>"SmartDevCo", "We", "Us",
            "Our"</strong>) which has the right to collect, use and disclose Personal Information,
            understand the importance of ensuring the confidentiality and inviolability of
            your Personal Information. The Privacy Policy sets out the manner in which
            Your Personal Information may be obtained, stored, processed, used and
            disclosed by SmartDevCo during Your use of the SmartDevCo Services, Our website,
            located at:
            <a href="https://www.SmartDevCo.com/" target="_blank">https://www.SmartDevCo.com/</a>
            (hereinafter ⎼ <strong>"Website"</strong>).
            </p>
            <p>
            <strong>This Privacy Policy </strong>(hereinafter –
            <strong>"Privacy Policy"</strong>) describes the process of
            collecting and using your personal Information provided for SmartDevCo.
            SmartDevCo manages your Personal Information in a way that respects your
            privacy and provides the necessary level of protection.
            </p>
            <ol class="counter">
            <li aria-level="1" class="first-level">
            <h2>GENERAL INFORMATION</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            Privacy Policy defines how your Personal Information can be obtained,
            stored, processed, used and disclosed while you use the Website.
            </li>
            <li aria-level="2">
            By visiting Our Website, filling out the Application form or sending a
            message to <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a> or
            making phone inquiry, you agree to this Privacy Policy, any other
            annexes to the Privacy Policy, as well as any other documents referred
            to in Privacy Policy. Please stop visiting Website and/ or using Our
            Services if you disagree with the provisions of Privacy Policy.
            </li>
            <li aria-level="2">
            Privacy Policy applies to persons who use our Website and hence provide
            Personal Information to SmartDevCo.
            </li>
            <li aria-level="2">
            <strong>SmartDevCo </strong><strong>may share your personal information with service providers and any
            other contractors only </strong><strong>to perform Services, including (but not limited) analysis of Personal
            Information, email delivery, hosting services, customer service</strong>
            </li>
            <li aria-level="2">
            <strong>We</strong><strong>
            do not sell your Personal Information to third parties.</strong>
            A "sale" of Personal Information under the Sec.
            1798.140(ad)(1) of CPRA is defined broadly to include the
            <strong>"selling, renting, releasing, disclosing, disseminating, making
            available, transferring, or otherwise communicating orally, in
            writing, or by electronic or other means"</strong>
            the Personal Information of an User to another business or third party
            "for monetary or other valuable consideration". If SmartDevCo
            decides to transfer the rights of the Website, We will inform you about
            this, so you can forbid Us to transfer your Personal Information
            together with our business. If so, We will delete your Information from
            the Information bases prior to a business transfer.
            </li>
            <li aria-level="2">
            <strong>If you do not carefully read, do not fully understand, or disagree
            with the Privacy Policy, you must immediately stop using our
            Website.</strong>
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>TERMS AND DEFINITIONS</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            The following terms shall have the following meaning:
            <ol class="counter">
            <li aria-level="3">
            <strong>"Application form" </strong>– an online
            contact form through which the User can communicate with SmartDevCo
            by filling it out.
            </li>
            <li aria-level="3">
            "<strong>Service" or "Services"</strong>— access to our Website, provided by our company, together
            with its affiliates, officers, directors, employees, agents, and
            subsidiaries.
            </li>
            <li aria-level="3">
            "<strong>User"</strong> — any person or entity by
            its authorized representative visiting our Website and/or sharing
            with Us its contacts allowing access to a part of our Service; or
            anyone connecting Us for any reason through email or Contact Us
            form.
            </li>
            <li aria-level="3">
            <strong>"Service provider" </strong>means a natural or
            legal person that processes Users’ Personal Information on
            behalf of SmartDevCo and to that receives from or on behalf of the
            SmartDevCo a Users’ Personal Information.
            </li>
            <li aria-level="3">
            <strong>"Contractor"</strong> means a natural or legal
            person to whom the SmartDevCo makes available a consumer’s
            Personal Information for a business purpose.
            </li>
            <li aria-level="3">
            <strong>"Consent"</strong> – a freely given,
            specific, informed, and unambiguous indication of your wishes by
            which you signify agreement to the processing of your Personal
            Information.
            </li>
            <li aria-level="3">
            <strong>"Website" – </strong>SmartDevCo website
            hosted on the domain
            <a href="https://www.SmartDevCo.com/" target="_blank">https://www.SmartDevCo.com/</a>
            that shares a single domain name.
            </li>
            </ol>
            </li>
            <li aria-level="2">
            Other terms used in the Privacy Policy and not defined in this Section
            have the same meanings as those defined in the
            <a href="https://cpra.gtlaw.com/cpra-full-text/" target="_blank" rel="nofollow noopener">Egypt Privacy Rights Act</a>
            (hereinafter – <strong>"CPRA"</strong>) and
            <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj" target="_blank" rel="nofollow noopener">EU General Data Protection Regulation</a>
            (hereinafter – <strong>"GDPR"</strong>).
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>INFORMATION CONTROLLER</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            <strong>SmartDevCo.&ZeroWidthSpace;, a Egypt corporation, with its principal office
            at 45 Kambez st- Nadi Al Saeed - Dokki - Egypt </strong>is the Information controller that is responsible for the Personal
            Information collected and used within the scope of the Privacy Policy.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>PRINCIPLES OF INFORMATION PROCESSING </h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            SmartDevCo respects these principles in order to protect your privacy:
            <ol class="counter">
            <li aria-level="3">
            <strong>Principle of lawfulness, fairness, and transparency.</strong>
            Personal Information is collected and handled in a lawful and
            responsible way in order to protect the rights of the individuals
            involved;
            </li>
            <li aria-level="3">
            <strong>Principle of purpose limitation.</strong> Personal
            information is only collected and shared with individuals for
            specific, explicit, and legitimate purposes that have been agreed to
            before the information is gathered;
            </li>
            <li aria-level="3">
            <strong>Principle of transparency.</strong> The Users have the right
            to know about the way in which their Personal Information will be
            used, and is allowed direct access to their own information;
            </li>
            <li aria-level="3">
            <strong>Precise and current Information. </strong>SmartDevCo takes
            every precaution to ensure that the Personal Information they hold
            is accurate and up-to-date, as required. SmartDevCo makes every
            effort to rectify inaccurate information promptly, taking into
            account the purposes for which it was collected.
            </li>
            <li aria-level="3">
            <strong>Principle of information reduction and information
            minimization.</strong>
            SmartDevCo performs a data analysis to determine whether and to what
            extent processing of Personal Information is necessary in order for
            it to fulfill the purpose for which it was collected;
            </li>
            <li aria-level="3">
            <strong>Principle of storage limitation.</strong> SmartDevCo stores
            personal Information in a form that allows the identification of the
            individuals during the time necessary to fulfill the purpose for the
            procession of such Information;
            </li>
            <li aria-level="3">
            <strong>Principle of integrity and confidentiality.</strong>
            Personal Information is processed using appropriate technical,
            organizational, and security measures on our side with the intention
            to protect such Information against unauthorized or unlawful
            processing, as well as against accidental loss, destruction, or
            deterioration. Should an incident occur, SmartDevCo will restore
            timely availability and access to Personal Information.
            </li>
            </ol>
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>PERSONAL INFORMATION THAT SmartDevCo COLLECTS AND PROCESSES </h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            To fulfill our obligations for you according to applicable Terms of Use,
            We have the right to ask you to provide Us with your Personal
            Information, including (but not limited):
            <ol class="counter">
            <li aria-level="3"><strong>Full name (name and surname);</strong></li>
            <li aria-level="3"><strong>Email address;</strong></li>
            <li aria-level="3"><strong>Phone number;</strong></li>
            <li aria-level="3"><strong>Company that you represent.</strong></li>
            </ol>
            </li>
            <li aria-level="2">
            We might also collect Personal Information from you in a range of
            approaches and beneath a range of circumstances, including, however no
            longer confined to, your dealings with SmartDevCo, when you go to our
            Website, entire Application form, contact Us by way of email address
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a> or make phone
            inquiry. We will have the proper to mix the Personal Information
            gathered at some point of your interplay with a range of sections of the
            Service with any different applicable handy information.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>PERSONAL INFORMATION COLLECTED IN AN AUTOMATIC WAY</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            Personal Information automatically collected on our Website while your
            visiting may include, without limitation, the following Personal
            Information:
            <ol class="counter">
            <li aria-level="3">
            <strong>Internet Protocol address </strong>(hereinafter -
            <strong>IP address</strong>);
            </li>
            <li aria-level="3"><strong>Browser type;</strong></li>
            <li aria-level="3"><strong>Operating system;</strong></li>
            <li aria-level="3"><strong>Access Website times;</strong></li>
            <li aria-level="3">
            <strong>The Web-pages you have viewed directly before and after accessing
            the Website.</strong>
            </li>
            </ol>
            </li>
            <li aria-level="2">
            SmartDevCo may receive Personal Information from your electronic devices,
            such as your mobile device ID, model, and manufacturer, and information
            about the location of your device, if you access the Website from a
            mobile device.
            </li>
            <li aria-level="2">
            In case of Your Facebook, LinkedIn, Instagram, Twitter account usage for
            accessing, interacting, using the Website and operating of the Services
            automatically collected information on these accounts may include:
            <ol class="counter">
            <li aria-level="3"><strong>Social network username;</strong></li>
            <li aria-level="3"><strong>Email address;</strong></li>
            <li aria-level="3"><strong>Gender;</strong></li>
            <li aria-level="3"><strong>Date of birth</strong></li>
            <li aria-level="3"><strong>Current place of residence;</strong></li>
            <li aria-level="3"><strong>Profile picture;</strong></li>
            <li aria-level="3">
            <strong>Public information for contacts.</strong>
            </li>
            </ol>
            </li>
            <li aria-level="2">
            SmartDevCo may also request access to other permissions related to your
            social network account, such as friends, check-ins, and likes. You may
            choose to grant or deny Us access to each individual permission by
            filling out the Application form or contacting Us via email address
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a>.
            </li>
            <li aria-level="2">
            SmartDevCo and our service providers, as well as contractors use various
            technologies to collect information when you interact with SmartDevCo,
            including <strong>cookies and other similar technologies</strong> which
            enables Us to collect information about your device identifiers, IP
            address, web browsers used to visit the Website, pages or features
            viewed, access Website times, and links clicked. Where required, you
            will be asked for consent to our use of cookies. To view more
            information on what cookies We use and how We use them, please review
            the <strong>Cookie Policy.</strong>
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>LAWFUL BASIS OF INFORMATION PROCESSING</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            Under Art. 6 of the GDPR, SmartDevCo only processes Personal Information,
            where it has a lawful basis for doing so.
            </li>
            <li aria-level="2">
            The processing of Personal Information, described in the Privacy Policy
            is based on the consent of the User and for the performance of the
            contract or agreement to which the User and SmartDevCo are the Parties,
            under Art. 6 (1) lit. (a), (b) GDPR, and is performed only for the
            purposes specified in the Privacy Policy, in particular,
            <strong>to contact you about, and conduct surveys or polls you choose to take
            part in and to analyze the Information collected for market research
            purposes, as well as cooperation with Users and execution of
            Services.</strong>
            </li>
            <li aria-level="2">
            This Privacy Policy is based on <strong>consent</strong> (Art. 6 (1)
            lit. (a) GDPR) and is performed only for the purposes specified in this
            Privacy Policy — to provide a greater and better experience with
            Us and other related purposes, which is described in detail in this
            Privacy Policy<strong>,</strong> in particular<strong>, </strong>to
            personalize your experience with our Service and for marketing and
            promotion of our Services or related products, including those of a
            third party’s products which are related to our Services.
            </li>
            <li aria-level="2">
            For non-EU residents, the basis of information processing is set out by
            the relevant legislation of their residence and GDPR.
            </li>
            <li aria-level="2">
            For residents of egypt, the basis of information
            processing is stipulated by the CPRA.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>THE PURPOSE OF INFORMATION PROCESSING</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            We may use the Personal Information gathered from you for various
            purposes, mainly to provide our Services and information about our
            Services. In addition to the purposes expressly defined by law, wee may
            use your personal Information for such purposes, including, but not
            limited to:
            <ol class="counter">
            <li aria-level="3">provide access to Website;</li>
            <li aria-level="3">handle your orders and requests;</li>
            <li aria-level="3">
            provide a larger and higher journey the usage of Website;
            </li>
            <li aria-level="3">
            monitor and analyze utilization and developments to enhance your
            ride with the Website;
            </li>
            <li aria-level="3">
            detect, investigate, and stop unlawful things to do or habits that
            might also violate the Terms of Use of SmartDevCo, Privacy Policy and
            Cookie Policy;
            </li>
            <li aria-level="3">personalize your experience with our Service;</li>
            <li aria-level="3">
            contact you and to analyze the Personal Information amassed for
            market lookup purposes;
            </li>
            <li aria-level="3">resolve disputes and troubleshoot problems;</li>
            <li aria-level="3">
            conduct inner lookup and improvement and to improve, test, and
            beautify the facets and features of our Service;
            </li>
            <li aria-level="3">
            deliver centered advertising, newsletters, and different statistics
            related to promotions to you, performing our Services or associated
            products, such as these of a third party’s services which are
            associated to our Services;
            </li>
            <li aria-level="3">
            meet our interior and exterior audit requirements, inclusive of our
            data safety obligations;
            </li>
            <li aria-level="3">tracking utilization information;</li>
            <li aria-level="3">
            any different cause as We determine, in our sole discretion, to be
            quintessential or required to ensure the protection and/or integrity
            of our users, employees, third parties, public, and/or our Services,
            or to comply with necessities of any relevant law.
            </li>
            </ol>
            </li>
            <li aria-level="2">
            If you do not want Us to use your Personal Information in any of these
            ways, please let Us know by filling out the Application form contacting
            Us at the email address
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a>.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>CONSENT TO PERSONAL INFORMATION PROCESSING </h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            <strong>Consent to Personal Information Processing</strong>
            <ol class="counter">
            <li aria-level="3">
            By accepting the Privacy Policy and/or by using the Website you
            approve to have reached the age of majority or the legal age in your
            jurisdiction (generally 18 or older), are entirely accountable for
            all your actions, and utterly recognize the statements outlined in
            Privacy Policy.
            </li>
            <li aria-level="2">
            <strong>EU Persons Consent to Personal Information processing</strong>
            </li>
            <li aria-level="3">
            If you are an EU Person and to method your Personal Information
            SmartDevCo wants to obtain your consent, as it is prescribed through
            GDPR, and SmartDevCo will manner your Personal Information solely in
            the case SmartDevCo has acquired from you a consent for the purposes
            specified above.
            </li>
            <li aria-level="3">
            You may give your Consent by checking in the checkbox when filling
            out an Application form. Checking the box when filling out an
            Application form and/or sending your Personal Information via email
            address
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a> means
            that you agree with the Privacy Policy. In these events you
            irrevocably and unconditionally consent and agree that SmartDevCo
            shall be entitled to process your Personal Information as it is
            indicated by your Consent.
            </li>
            <li aria-level="3">
            Your Consent covers all processing things to do with your Personal
            Information carried out for the identical reason or purposes and in
            compliance with this Privacy Policy. When the processing has more
            than one purpose, your Consent needs to be deemed given for all of
            them.
            </li>
            </ol>
            </li>
            <li aria-level="2">
            <strong>Non-EU Persons Consent to Personal Information processing</strong>
            <ol class="counter">
            <li aria-level="3">
            If you are no longer an EU Person, by way of transferring to
            SmartDevCo your Personal Information through the Application form or
            email address you irrevocably and unconditionally consent and agree
            that SmartDevCo shall be entitled, in accordance with the Privacy
            Policy to technique in a lawful manner, inclusive of to collect,
            store, use, disclose, share and switch (including cross-border) your
            Personal Information so supplied to SmartDevCo.
            </li>
            </ol>
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>COMPLIANCE WITH CPRA, GDPR AND OTHER LAWS</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            SmartDevCo demonstrates the highest degree of use of standards that are
            set by legislation and best practices in the field of data protection
            comply with applicable data protection laws, specifically
            </li>
            <li aria-level="2">
            If you are located in Egypt, all processing of Personal Information
            is performed in accordance with regulations and rules following the
            <a href="https://cpra.gtlaw.com/cpra-full-text/" target="_blank" rel="nofollow noopener">Egypt Privacy Rights Act</a>, Cal. Civ. Code § 1798.100 <em>et seq.</em> ("CCPA").
            </li>
            <li aria-level="2">
            If you are located in the European Economic Area (EEA) privacy rights
            are granted and all processing of Personal Information is performed by
            regulations and rules following the
            <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2016.119.01.0001.01.ENG" target="_blank" rel="nofollow noopener">Regulation (EU) 2016/679 of the European Parliament and of the
            Council of 27 April 2016 on the protection of natural persons
            concerning the processing of Personal Information and on the free
            movement of such Information, known as the General Information
            Protection Regulation </a>("GDPR").
            </li>
            <li aria-level="2">
            If you are located in Brazilia, all processing of Personal Information
            is performed in accordance with regulations and rules following the
            <a href="https://iapp.org/media/pdf/resource_center/Brazilian_General_Data_Protection_Law.pdf" target="_blank" rel="nofollow noopener">Lei Geral de Proteção de Dados</a>
            ("LGPD").
            </li>
            <li aria-level="2">
            If you are located in the United Kingdom, all processing of Personal
            Information is performed in accordance with regulations and rules
            following
            <a href="https://www.legislation.gov.uk/ukpga/2018/12/contents/enacted" target="_blank" rel="nofollow noopener">the Information Protection Act 2018</a>
            ("DPA 2018") and UK General Information Protection
            Regulation ("UK GDPR").
            </li>
            <li aria-level="2">
            If you are located in Australia, all processing of Personal Information
            is performed in accordance with regulations and rules following
            <a href="https://www.legislation.gov.au/Details/C2021C00452" target="_blank" rel="nofollow noopener">the Privacy Act 1988</a>.
            </li>
            <li aria-level="2">
            If you are located in Canada, all processing of Personal Information is
            performed in accordance with regulations and rules following
            <a href="https://laws-lois.justice.gc.ca/eng/acts/P-8.6/index.html" target="_blank" rel="nofollow noopener">Personal Information Protection and Electronic Documents Act (S.C.
            2000, c. 5)</a>
            ("PIPEDA").
            </li>
            <li aria-level="2">
            If you are located in New Zealand, all processing of Personal
            Information is performed in accordance with regulations and rules
            following
            <a href="https://www.legislation.govt.nz/act/public/2020/0031/latest/LMS23223.html?search=ts_act%40bill%40regulation%40deemedreg_privacy_resel_25_a&amp;p=1#LMS23417" target="_blank" rel="nofollow noopener">Privacy Act 2020</a>.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>THE RIGHTS OF USERS</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            Subject to possible restrictions under national law, as the consumer
            under CPRA and information subject under the GDPR, you may have certain
            rights regarding the Personal Information that SmartDevCo collects on
            you.
            </li>
            <li aria-level="2">
            Under Sections 1798.106, 1798.110, 1798.125 of CPRA and Chapter 3 of the
            GDPR, the rights of the Information subjects include the following:
            <ol class="counter">
            <li aria-level="3">
            <strong>Right to access.</strong> You may also contact SmartDevCo by
            using info&#64;SmartDevCo.com to get affirmation as to whether or not or
            now not SmartDevCo is processing your Personal Information. When
            SmartDevCo technique your Personal Information, SmartDevCo will inform
            You of what types of Personal Information SmartDevCo technique
            involving You, the processing purposes, the classes of recipients to
            whom Personal Information have been or will be disclosed, and the
            envisaged storage duration or standards to decide that period;
            </li>
            <li aria-level="3">
            <strong>Right to </strong><strong>correct inaccurate personal information.</strong> You may
            request SmartDevCo via info&#64;SmartDevCo.com to correct inaccurate
            Personal Information. SmartDevCo uses commercially reasonable efforts
            to correct the inaccurate Personal Information as directed by Users.
            </li>
            <li aria-level="3">
            <strong>Right to withdraw consent.</strong> In case our processing
            is based on the Сonsent granted, You may withdraw the Сonsent at any
            time by contacting SmartDevCo via info&#64;SmartDevCo.com. You can
            withdraw your consent at any time by replying to the email with your
            withdrawal and your Personal Information will be deleted
            immediately. Withdrawing the Сonsent may lead to fewer possibilities
            to use the Website;
            </li>
            <li aria-level="3">
            <strong>Right to object processing and delete personal
            information.</strong>
            In case our processing is primarily based on the legitimate interest
            to run, preserve and boost our business, You have the proper to
            object at any time to our processing. SmartDevCo shall then no longer
            process Your Personal Information unless for the provision of our
            Services or if SmartDevCo demonstrates other compelling legitimate
            grounds for our processing that override your interests, rights, and
            freedoms or for legal claims. In the event of receiving a request
            from You regarding deletion of your personal information SmartDevCo
            deletes this information from its records, notify its service
            providers and contractors to delete the Personal Information from
            their records, unless this proves impossible or involves
            disproportionate effort. Notwithstanding any Consent granted
            beforehand for direct marketing purposes, You have the right to
            prohibit SmartDevCo from using personal Information for direct
            marketing purposes, by contacting SmartDevCo via info&#64;SmartDevCo.com
            or by filling out the Application form;
            </li>
            <li aria-level="3">
            <strong>Right to restriction of the processing.</strong> You have
            the proper to reap from SmartDevCo limit of processing of your
            Personal Information, as foreseen through relevant applicable
            Information protection law, e.g. to permit our verification of the
            accuracy of Personal Information after you Contest the accuracy or
            to forestall SmartDevCo from erasing Personal Information when
            private Information are no longer integral for the functions however
            nonetheless required for your legal claims or when our processing is
            unlawful. Restriction of processing may additionally lead to fewer
            probabilities to use the Application form;
            </li>
            <li aria-level="3">
            <strong>Right to Information portability.</strong> You have the
            right to receive your personal Information from SmartDevCo in a
            structured, commonly used, and machine-readable format and to
            independently transmit those Information to a third party, in case
            our processing is based on your Consent and carried out by automated
            means;
            </li>
            <li aria-level="3">
            <strong>Right to complain. </strong>You have the right to complain
            with any relevant Information Protection Authority, in particular in
            the Member State of your residence, place of work, or the place of
            processing your personal Information. If You wish to exercise any of
            the aforementioned rights, please Contact SmartDevCo via
            info&#64;SmartDevCo.com.
            </li>
            <li aria-level="3">
            <strong>Right</strong><strong>
            of No Retaliation Following Opt-Out or Exercise of Other Rights. </strong>SmartDevCo shall not discriminate against You in case of exercising
            any of the rights under CPRA or GDPR. In that case SmartDevCo shall
            not deny Services to You, charge different prices or rates for goods
            or Services, including through the use of discounts or other
            benefits or imposing penalties, etc.
            </li>
            <li aria-level="3">
            <strong>How to use these rights.</strong> You shall send the email
            to SmartDevCo set out in Privacy Policy that includes the following
            information: name, address, telephone number, email address, and a
            copy of a legitimate proof of identity. SmartDevCo may also request
            extra records vital to verify your identity. SmartDevCo may also
            refuse functions that are unreasonably repetitive, immoderate or
            demonstrably unfounded.
            </li>
            </ol>
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>INFORMATION STORING AND DELETION</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            We keep your Personal Information as lengthy as granting you with our
            Service. We can also store Personal Information longer, however solely
            in a way that it cannot be tracked returned to you. When Personal
            Information is no longer needed, We delete it using realistic measures
            to defend the Information from unauthorized entry to or use.
            </li>
            <li aria-level="2">
            <strong>US Territory.</strong> We will retain collected information for
            the period necessary to fulfill the purposes outlined in this Privacy
            Policy unless a longer retention period is required or permitted by
            applicable legislation.
            </li>
            <li aria-level="2">
            Storing might be different depending on the territory of collecting the
            information and the applicable legislation, but We always strive to
            store the Personal Information only as long as it is needed to provide,
            improve, or personalize our Service.
            </li>
            <li aria-level="2">
            <strong>EU Territory. </strong>We store Personal Information as long as
            it is needed for the provision of our Service. Traffic information is
            erased or made anonymous when it is no longer needed for the
            transmission. This Section shall not prevent any technical storage or
            access to information for the sole purpose of carrying out the
            transmission of a communication or as strictly necessary for Us to
            provide the Service you requested.
            </li>
            <li aria-level="2">
            As explained in the CPRA and GDPR statement, We strive to anonymize the
            Personal Information when possible. If you decide to exercise your right
            to erasure, We will also inform our service providers and contractors to
            delete all your Personal Information.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>INFORMATION SECURITY</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            SmartDevCo cares to ensure the security of Personal Information.
            SmartDevCo implemented appropriate technical and organizational security
            standards to protect the Information submitted to SmartDevCo, both during
            transmission and once SmartDevCo received it. SmartDevCo maintains all
            necessary technical, physical, and administrative security measures to
            provide reasonable protection for your Personal Information. When
            SmartDevCo or our service providers and contractors process your
            Information, SmartDevCo also makes sure that your Information is
            protected from unauthorized access, loss, manipulation, falsification,
            destruction, or unauthorized disclosure. This is done through
            appropriate administrative, technical, and physical measures.
            </li>
            <li aria-level="2">
            <strong>There is no 100% secure method of transmission over the Internet or
            method of electronic storage. Therefore, the Users agree that
            SmartDevCo cannot guarantee its absolute security. </strong>Any information disclosed online is vulnerable to interception and
            misuse by unauthorized parties. Therefore, We cannot guarantee complete
            security if you provide personal information.
            </li>
            <li aria-level="2">
            SmartDevCo never processes any kind of sensitive information or criminal
            offense Information. Also, SmartDevCo never undertakes to profile
            Personal Information.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>SERVICE PROVIDERS AND CONTRACTORS</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            SmartDevCo may conclude agreements with processors, service providers and
            contractors under CPRA and GDPR which processes Personal Information on
            behalf of SmartDevCo. With this Privacy Policy You expressly consent with
            the handling of Personal Information by processors, service providers
            and contractors by using the Website and accepting the Privacy Policy.
            </li>
            <li aria-level="2">
            We work with services providers and contractors that provide website,
            application development, hosting, maintenance, information analysis,
            email delivery, hosting services, customer service, marketing assistance
            and other services for us. These service providers and contractors may
            have access to, or process Personal Information on behalf of Us as part
            of providing those services for Us. We limit the Personal Information
            provided to these service providers and contractors to that which is
            reasonably necessary for them to perform their functions. Service
            providers and contractors are obliged to use the same level of
            transmission of Personal Information and take reasonable steps to ensure
            the security of Personal Information but We recommend that you check the
            Privacy Policy of such providers, as we are not responsible for the
            actions of them with Your Personal Information.
            </li>
            <li aria-level="2">
            Any Personal Information transfers are performed in accordance with the
            highest security regulations. Personal Information processed by
            SmartDevCo is stored exclusively in secure hosting facilities. European
            Resident Users by checking in the checkbox when filling out an
            Application form you consent to transfer of Personal Information to
            countries outside of the European Economic Area. SmartDevCo may share
            your Personal Information with our technical specialists in connection
            with the services they provide to us. If SmartDevCo shares your Personal
            Information with those processors, SmartDevCo will require the recipient
            to keep it confidential and secure by concluding a non-disclosure
            agreement.
            </li>
            <li aria-level="2">
            Softermi may use third-party software to serve ads on the Website,
            implement email marketing campaigns, and manage other interactive
            marketing initiatives. This third-party software may use cookies or
            similar tracking technology to help manage and optimize your online
            experience with us.
            </li>
            <li aria-level="2">
            Softermi may share your information with our affiliates and business
            partners. We require affiliates to honor this Privacy Policy. Affiliates
            include our parent company and any subsidiaries, joint venture partners
            or other companies that We control or that are under common control with
            us. We also may share your information with our business partners to
            offer you certain products, services or promotions.
            </li>
            <li aria-level="2">
            <strong>SmartDevCo doesn’t sell or in any way transfer your Personal
            Information to any other third parties not mentioned under this
            Section of Privacy Policy.</strong>
            </li>
            <li aria-level="2">
            Softermi Website may contain links to third-party websites and
            applications of interest, including advertisements and external
            services, that are not affiliated with us. Once you have used these
            links to leave the Website, any information you provide to these third
            parties is not covered by this Privacy Policy, and We cannot guarantee
            the safety and privacy of your Personal Information. Before visiting and
            providing any Personal Information to any third-party websites, you
            should get acquainted with privacy policies and practices (if any) of
            the third parties responsible for those websites, and should take those
            steps necessary to, in your discretion, protect the privacy of your
            information.
            <strong>SmartDevCo is not responsible for the content or privacy and security
            practices, policies of any such third parties, including other sites,
            services or applications that may be linked to or from the
            Website.</strong>
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>INFORMATION RELATING TO CHILDREN</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            SmartDevCo does not intentionally collect or maintain Personal
            Information from persons under the age of 18 however, according to each
            country and its laws, the processing of the Personal Information of a
            child will be lawful where the child is at another age.
            </li>
            <li aria-level="2">
            The holder of parental responsibility of persons under the age of 18 are
            responsible for their any accessings to the Website, filling out the
            Application form, making phone inquiries to Us and contacting Us via
            email
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com.</a>
            </li>
            <li aria-level="2">
            SmartDevCo also recommends that holder of parental responsibility of
            persons under the age of 18 monitor their children’s Internet
            activities and learn and employ software or other tools that can help
            their children enjoy their online experience without compromising their
            personal safety or allowing them to use the Internet in a manner
            inconsistent with their parent/guardian’s preferences.
            </li>
            <li aria-level="2">
            SmartDevCo asks you to contact Us via email address info&#64;SmartDevCo.com,
            if you become aware of any information We have collected from children
            under age 18.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>ACCEPTANCE OF THESE CONDITIONS</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            By using the Website and/or by accepting the checkbox in filling out the
            submitting to SmartDevCo an Application form, you agree with the Privacy
            Policy.
            </li>
            <li aria-level="2">
            SmartDevCo assumes that all Users have carefully read this document and
            agree to its content. If one does not agree with the Privacy Policy,
            they should not use our Services and Website.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>CHANGES AND UPDATES TO OUR PRIVACY POLICY</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            From time to time, SmartDevCo may update the Privacy Policy for our sole
            discretion. SmartDevCo encourages Users to periodically check back and
            review the Privacy Policy so that the Users always will know what
            Personal Information SmartDevCo collects, how SmartDevCo uses it, and with
            whom SmartDevCo shares it.
            </li>
            <li aria-level="2">
            <strong>SmartDevCo does not provide specific notices of Privacy Policy changes
            and modifications. Such changes or modifications of Privacy Policy
            will be effective immediately upon posting the updated Privacy Policy
            on the Website.</strong>
            </li>
            <li aria-level="2">
            Users will be deemed to have been made aware of and have accepted the
            changes in any revised Privacy Policy by users’ continued use of
            the Website after the date such revised Privacy Policy is posted.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>LIMITATION OF LIABILITY</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            SmartDevCo is not responsible for harm or damage suffered by Users and/or
            a third party as a result of an erroneous understanding or
            misunderstanding of the terms of the Privacy Policy. Before accepting
            the terms of the Privacy Policy, any User has the right to contact
            SmartDevCo for clarification regarding the provisions of the Privacy
            Policy.
            </li>
            <li aria-level="2">
            <strong>If SmartDevCo reorganizes or sells all or a component of assets,
            endure a merger, or are obtained via any other entity, We may
            additionally transfer your Personal Information to the successor
            entity.</strong>
            If SmartDevCo goes out of enterprise or enters bankruptcy, your Personal
            Information would be an asset transferred or received by way of the
            other party. Such transfers may also show up and that the transferee can
            also decline honor commitments We made in Privacy Policy.
            </li>
            <li aria-level="2">
            SmartDevCo is not responsible for the movements of other parties with
            whom you share personal information and We have no authority to
            manipulate solicitations of other parties.
            </li>
            </ol>
            </li>
            <li aria-level="1" class="first-level">
            <h2>FEEDBACK</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <ol class="counter">
            <li aria-level="2">
            In case you have any questions regarding the Privacy Policy or other
            issues, you may contact SmartDevCo according to the procedure established
            on the "Contact us" web page, via or by mail
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a>.
            </li>
            <li aria-level="2">
            By filling out the Application form or sending a message via email
            address
            <a href="mailto:info&#64;SmartDevCo.com">info&#64;SmartDevCo.com</a>, You confirm
            that You are at least 18 years old and have the legal capability and
            authority to cooperate with SmartDevCo.
            </li>
            </ol>
            </li>
            </ol>
            </div>
     </section>
</main>