<img src="../../../assets/public/svg/white-logo.svg" alt="">
                <div class="footer-links">
                    <a [routerLink]="['/privacy-and-policy']">Privacy Policy</a>
                    <a  [routerLink]="['/terms-and-condtitons']">Terms and Conditions</a>
                </div>
                <div class="footer-social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61560492426687"><i class="fa-brands fa-facebook-f"></i></a>
                    <div class="icon-divider"></div>
                    <a href="https://www.linkedin.com/company/smartdevco"><i class="fa-brands fa-linkedin-in"></i></a>
                    <div class="icon-divider"></div>
                    <a href="https://x.com/SmartDevCo"><i class="fa-brands fa-x-twitter"></i></a>
                    <div class="icon-divider"></div>
                    <a href="https://www.instagram.com/smartdevco"><i class="fa-brands fa-instagram"></i></a>
                    <div class="icon-divider"></div>
                    <a href="https://www.behance.net/SmartDev_Co"><i class="fa-brands fa-behance"></i></a>
                </div>
                <a href="https://wa.me/+201024139097" class="getin-tuch"><img src="../../../assets/public/svg/whatsapp-icon.svg" alt=""></a>
                <a class="scrollToTopBtn" id="goTop"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <div class="copyright">
                    <p>Copy Rights &#64; <span>SMARTDEVCO</span> 2024</p>
                </div>