<section class="testimonials-section mb-section">
    <div class="container">
        <div class="section-top-part">
            <h2>What Our Clients Say</h2>  
            <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
            <p>We are a digital transformation consultancy and software development company that provides cutting edge engineering solutions, helping Fortune companies and enterprise clients untangle complex issues.</p>
        </div>
    </div>
    <div class="testimonials-container">
        <div class="testimonials" id="testimonials">
            <!-- Add 9 testimonial items here -->
            <div class="testimonial">
                <img class="que" src="../../../../assets/public/svg/testimonialQ.svg" alt="">
                <h3>Sothun Thay</h3>
                <div class="position">Business Owner</div>
                <p> SmartDevCo Company is able to understand the requirement so quickly 
                    and it could deliver on time and on budget. </p>
                <div class="pp">
                    <img src="../../../../assets/public/images/PP.png" alt="">
                </div>
            </div>
            <div class="testimonial">
                <img class="que" src="../../../../assets/public/svg/testimonialQ.svg" alt="">
                <h3>Matt Brandon</h3>
                <div class="position">Freelancer</div>
                <p>Great work by SmartDevCo team. Would love to work with them again.</p>
                <div class="pp">
                    <img src="../../../../assets/public/images/PP.png" alt="">
                </div>
            </div>
            <div class="testimonial">
                <img class="que" src="../../../../assets/public/svg/testimonialQ.svg" alt="">
                <h3>Jena Karlis</h3>
                <div class="position">Store Owner</div>
                <p>Excellent work, fantastic communication and great speed. This team took over this project.</p>
                <div class="pp">
                    <img src="../../../../assets/public/images/PP.png" alt="">
                </div>
            </div>
            <div class="testimonial">
                <img class="que" src="../../../../assets/public/svg/testimonialQ.svg" alt="">
                <h3>David Wilsson</h3>
                <div class="position">Ceo & Founder</div>
                <p>Great work SmartDevCo team, fast and uncomplicated work for them.
                      Amazing to work with SmartDevCo team and will definitely use again for future projects!</p>
                <div class="pp">
                    <img src="../../../../assets/public/images/PP.png" alt="">
                </div>
            </div>
            <div class="testimonial">
                <img class="que" src="../../../../assets/public/svg/testimonialQ.svg" alt="">
                <h3>Maged EL-futim</h3>
                <div class="position">Business Owner</div>
                <p>We've been trying to put together a functional website since I began my practice in April of 2020.
                     I am happy to say we finally hired the SmartDevCo team and they've worked closely with us throughout the process, staying on task, on target, and on budget.</p>
                <div class="pp">
                    <img src="../../../../assets/public/images/PP.png" alt="">
                </div>
            </div>
            <div class="testimonial">
                <img class="que" src="../../../../assets/public/svg/testimonialQ.svg" alt="">
                <h3>Marwa Ahmed</h3>
                <div class="position">Fashion</div>
                <p>We thank SmartDevCo for the wonderful job in helping us develop our program.
                     Everyone was professional, excellent and hard working. Thanks to them, we were able to achieve our goal on time,
                     and we look forward to continue working with them in the future.</p>
                <div class="pp">
                    <img src="../../../../assets/public/images/PP.png" alt="">
                </div>
            </div>
         
            <!-- Add 8 more testimonials here -->
        </div>
    </div>
    <div class="controlers">
        <div class="slider-arrows">
            <button id="arrowLeft" class="arrow-left"><img src="../../../../assets/public/svg/sliderArrow.svg" alt=""></button>
            <button id="arrowRight" class="arrow-right"><img src="../../../../assets/public/svg/sliderArrow.svg" alt=""></button>
        </div>
        <div id="dots"></div>
    </div>
</section>