<section class="about-section container mt-section mb-section">
    <div class="section-top-part">
        <h2>About Company</h2>  
        <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
        <p>We are a digital transformation consultancy and software development company. that provides cutting edge engineering solutions</p>
    </div>
    <div class="about-content">
        <div class="text">
            <h2>Our Vision</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div></div>
            <p>Our Vision is to be a leading Web Solution and mobile company in IT sector and progress in our current position in market. We know that Customer’s growth is our growth, so we commit our customers to help in achieving their business goals. We believe in work with the accuracy and best quality. We want to be known as the reliable, innovative and user friendly software service provider in IT industry.</p>
            <br>
            <h2>Our Mission</h2>
            <div class="divider"><div class="divider1"></div><div class="divider2"></div></div>
            <p>Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformation enterprise-class solution.
               <br> Our mission is to help enterprises accelerate adoption of new technologies, untangle complex issues that always emerge during digital evolution, and orchestrate ongoing innovation. Whether it is a consumer-oriented app or a transformation enterprise-class solution.</p>
                <a [routerLink]="['/contact-us']" class="primary-btn mt-btn">Contact Us Now</a>
        </div>
        <div class="graphics-visual">
            <img src="../assets/public/images/aboutG.png" alt="">
        </div>
    </div>
</section>