<section class="hero-section">
    <div class="hero-img">
       <div class="hero-gradient">
        <div class="hero-content">
            <h1></h1>
            <p></p>
        </div>
    </div>
    <div class="scroll-icon">
        <lottie-player src="../../../../assets/public/svg/Animation.json" background="transparent"  speed="1.5"  style="width: 60px; height: 60px;" loop autoplay></lottie-player>
    </div>
    </div>
    <div class="slider-dots">
    </div>
    <!-- <div class="slider-arrows">
        <button class="arrow-leftslider" (click)="goToNextSlide()"><img src="../assets/public/svg/arrowdisable.svg" alt=""></button>
        <button class="arrow-rightslider" (click)="goToPreviousSlide()"><img src="../assets/public/svg/arrow.svg" alt=""></button>
    </div>  -->
</section>