<section class="portfolio-section mb-section">
    <div class="section-top-part">
        <h2>Our Portfolio</h2>  
        <div class="divider"><div class="divider1"></div><div class="divider2"></div><div class="divider2"></div></div>
        <p>Some of our recent works</p>
    </div>
    <div class="portfolios">
        <div class="ellipse top"></div>
        <div class="ellipse bottom"></div>
        <div class="portfolio">
            <div class="item">
                <div class="overlay">
                    <div class="view-project">
                        <h3>One Movies</h3>
                        <p>Website</p>
                        <!-- <div class="actions">
                            <a class="view-details" href="javascript:void(0);"><img src="../assets/public/svg/eye.svg" alt=""></a>
                            <a><img src="../assets/public/svg/link.svg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <img src="../assets/public/images/web/Portfolio-movies.png" alt="">
            </div>
            <div class="item">
                <div class="overlay">
                    <div class="view-project">
                        <h3>ShoppingAd</h3>
                        <p>Website</p>
                        <!-- <div class="actions">
                            <a class="view-details" href="javascript:void(0);"><img src="../assets/public/svg/eye.svg" alt=""></a>
                            <a><img src="../assets/public/svg/link.svg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <img src="../assets/public/images/web/Portfolio-shopping.png" alt="">
            </div>
            <div class="item">
                <div class="overlay">
                    <div class="view-project">
                        <h3>Monagah</h3>
                        <p>App</p>
                        <!-- <div class="actions">
                            <a class="view-details" href="javascript:void(0);"><img src="../assets/public/svg/eye.svg" alt=""></a>
                            <a><img src="../assets/public/svg/link.svg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <img src="../assets/public/images/apps/Portfolio-Monagah.png" alt="">
            </div>
            <div class="item">
                <div class="overlay">
                    <div class="view-project">
                        <h3>The Cruising</h3>
                        <p>Website</p>
                        <!-- <div class="actions">
                            <a class="view-details" href="javascript:void(0);"><img src="../assets/public/svg/eye.svg" alt=""></a>
                            <a><img src="../assets/public/svg/link.svg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <img src="../assets/public/images/portfolio2.png" alt="">
            </div>
            <div class="item">
                <div class="overlay">
                    <div class="view-project">
                      <h3>La Cusina</h3>
                      <p>App</p>
                        <!-- <div class="actions">
                            <a class="view-details" href="javascript:void(0);"><img src="../assets/public/svg/eye.svg" alt=""></a>
                            <a><img src="../assets/public/svg/link.svg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <img src="../assets/public/images/apps/Portfolio-Cucina.png" alt="">
            </div>
            <div class="item">
                <div class="overlay">
                    <div class="view-project">
                        <h3>Stand</h3>
                        <p>App</p>
                        <!-- <div class="actions">
                            <a class="view-details" href="javascript:void(0);"><img src="../assets/public/svg/eye.svg" alt=""></a>
                            <a><img src="../assets/public/svg/link.svg" alt=""></a>
                        </div> -->
                    </div>
                </div>
                <img src="../assets/public/images/apps/Portfolio-stand.png" alt="">
            </div>
            
        </div>
    </div>
    <center>
        <a [routerLink]="['/portfolio']" class="secondary-btn flex-center">Discover more about our work <img src="../assets/public/svg/arrow1.svg" alt=""></a>
    </center>
 </section>
